* {
  /* background-color: #222222;
  color: #ffffff; */

  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

p {
  margin: 8px 0;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

hr {
  margin: 24px 0;
}

.button {
  margin: 0 10px;
  padding:100px;

}

.button {
  color: green;
}

.track {
  border: 1px solid #445488;
  padding: 6px 4px;
  border-radius: 4px;
}

.main {
  margin-bottom: 16px;
}

#input-description {
  padding-bottom: 16px;
}

// #auth-page {
//   height: 100vh;
//   display:flex; 
//   align-items:center;
// }

