* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

p {
  margin: 8px 0;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

hr {
  margin: 24px 0;
}

.button {
  margin: 0 10px;
  padding:100px;

}

.button {
  color: green;
}

.track {
  border: 1px solid #6575aa;
  padding: 8px 4px;
  border-radius: 4px;
}

.main {
  margin-bottom: 16px;
}

#input-description {
  padding-bottom: 16px;
}

#auth-info {
  margin-top: 12px;
}

// #auth-page {
//   height: 100vh;
//   display:flex; 
//   align-items:center;
// }

.single-track-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  /* flex-wrap: wrap; */
}

.track-name {
  word-wrap: break-word;
}
.track-image {
  border: 1px solid #6575aa;
}

.navbar-title {
  color: white;
}

.navbar-title-text:hover {
  cursor: pointer;
}
